@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap");
* {
   border: red solid 0px;
}

body {
   background-color: white;
}

.top-content {
   margin-left: 40px;
   margin-top: 40px;
   font-family: "Inter", sans-serif;
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-right: 40px;
}

.github {
   display: flex;
   align-items: center;
}

#github {
   color: black;
   font-size: 60px;
   transition: color 0.5s;
   background-position: bottom;
}

#github:hover {
   color: rgb(15, 129, 182);
}

a {
   position: relative;
   text-decoration: none;
}

.heading {
   font-family: "Inter", sans-serif;
   color: rgb(0, 0, 0);
   display: flex;
   justify-content: center;
   align-items: center;
}

.mainClock {
   display: none;
   justify-content: center;
   align-items: center;
   height: 10vh;
   margin: 0;
   flex-direction: column;
   font-family: "Inter", sans-serif;
   margin-bottom: 17%;
}

.cityname {
   opacity: 1;
   display: flex;
   justify-content: center;
   align-items: center;
}

#newyorktitle {
   font-size: 1.1rem;
}

#londontitle {
   font-size: 1.85rem;
}

#tokyotitle {
   font-size: 1.75rem;
}

#delhititle {
   font-size: 1.5rem;
}

#mexicocitytitle {
   font-size: 0.7rem;
}

#hongkongtitle {
   font-size: 1.5rem;
}

#moscowtitle {
   font-size: 0.8rem;
}

#paristitle {
   font-size: 1.25rem;
}

#beijingtitle {
   font-size: 3rem;
}

#seoultitle {
   font-size: 3rem;
}

#buenosairestitle {
   font-size: 1.2rem;
}

#mumbaititle {
   font-size: 1.75rem;
}

#sydneytitle {
   font-size: 0.6rem;
}

#shanghaititle {
   font-size: 1.1rem;
}

#manilatitle {
   font-size: 1rem;
}

#lagostitle {
   font-size: 1.5rem;
}

#istanbultitle {
   font-size: 1.5rem;
}

#rometitle {
   font-size: 3rem;
}

#cairotitle {
   font-size: 2rem;
}

#dhakatitle {
   font-size: 1rem;
}

#chicagotitle {
   font-size: 1.1rem;
}

#losangelestitle {
   font-size: 1.7rem;
}

#albasrahtitle {
   font-size: 0.5rem;
}

#saopaulotitle {
   font-size: 1.1rem;
}

#kievtitle {
   font-size: 1.35rem;
}

#osakatitle{
   font-size: 1.9rem;
}

#kolkatatitle{
   font-size: 0.9rem;
}

#bogotatitle{
   font-size: 1.25rem;
}

#amsterdamtitle{
   font-size: 0.85rem;
}

#berlintitle{
   font-size: 1rem;
}

#viennatitle{
   font-size: 1.6rem;
}

#sanfranciscotitle{
   font-size: 1.4rem;
}

#torontotitle{
   font-size: 1.4rem;
}

#hanoititle{
   font-size: 1rem;
}

#suvatitle{
   font-size: 3rem; 
}

#bangkoktitle{
   font-size: 1.3rem;
}

#zurichtitle{
   font-size: 1rem;
}

#dubaititle{
   font-size: 1.4rem;
}

#aucklandtitle{
   font-size: 0.5rem;
}

.titlecontainer {
   display: flex;
   justify-content: center;
   align-items: center;
}

#newyorkdegrees,
#new-york,
#londondegrees,
#london,
#tokyodegrees,
#tokyo,
#delhidegrees,
#delhi,
#hongkongdegrees,
#hongkong,
#mexicocitydegrees,
#mexicocity,
#parisdegrees,
#paris,
#sydneydegrees,
#sydney,
#beijingdegrees,
#beijing,
#moscowdegrees,
#moscow,
#shanghaidegrees,
#shanghai,
#buenosairesdegrees,
#buenosaires,
#seouldegrees,
#seoul,
#mumbaidegrees,
#mumbai,
#maniladegrees,
#manila,
#lagosdegrees,
#lagos,
#albasrahdegrees,
#albasrah,
#saopaulodegrees,
#saopaulo,
#losangelesdegrees,
#losangeles,
#istanbuldegrees,
#istanbul,
#chicagodegrees,
#chicago,
#kievdegrees,
#kiev,
#romedegrees,
#rome,
#cairodegrees,
#cairo,
#dhakadegrees,
#dhaka,
#osakadegrees,
#osaka,
#kolkatadegrees,
#kolkata,
#bogotadegrees,
#bogota,
#amsterdamdegrees,
#amsterdam,
#berlindegrees,
#berlin,
#viennadegrees,
#vienna,
#sanfranciscodegrees,
#sanfrancisco,
#torontodegrees,
#toronto,
#hanoidegrees,
#hanoi,
#suvadegrees,
#suva,
#bangkokdegrees,
#bangkok,
#zurichdegrees,
#zurich,
#dubaidegrees,
#dubai,
#aucklanddegrees,
#auckland {
   position: absolute;
}

#new-york,
#delhi,
#shanghai,
#buenosaires,
#lagos,
#chicago,
#bogota,
#amsterdam,
#dubai{
   margin-top: 15px;
   font-size: .6rem;
}
#newyorkdegrees,
#delhidegrees,
#shanghaidegrees,
#buenosairesdegrees,
#lagosdegrees,
#chicagodegrees,
#bogotadegrees,
#amsterdamdegrees,
#dubaidegrees{
   margin-bottom: 25px;
   font-size: .8rem;
}

#tokyo,
#istanbul,
#cairo,
#osaka,
#vienna,
#toronto,
#bangkok{
   margin-top: 15px;
   font-size: .75rem;
}
#tokyodegrees,
#istanbuldegrees,
#cairodegrees,
#osakadegrees,
#viennadegrees,
#torontodegrees,
#bangkokdegrees{
   margin-bottom: 35px;
   font-size: 1rem;
}

#london,
#losangeles,
#hongkong,
#mumbai,
#sanfrancisco{
   margin-top: 15px;
   font-size: .9rem;
}

#londondegrees,
#losangelesdegrees,
#hongkongdegrees,
#mumbaidegrees,
#sanfranciscodegrees{
   margin-bottom: 40px;
   font-size: 1.2rem;
}

#seoul,
#rome,
#suva{
   margin-top: 15px;
   font-size: 1.3rem;
}

#seouldegrees,
#romedegrees,
#suvadegrees{
   margin-bottom: 65px;
   font-size: 1.6rem;
}

#paris,
#mexicocity,
#moscow,
#manila,
#saopaulo,
#kiev,
#dhaka,
#kolkata,
#berlin,
#hanoi,
#zurich{
   margin-top: 10px;
   font-size: 0.47rem;
}

#parisdegrees,
#mexicocitydegrees,
#moscowdegrees,
#maniladegrees,
#saopaulodegrees,
#kievdegrees,
#dhakadegrees,
#kolkatadegrees,
#berlindegrees,
#hanoidegrees,
#zurichdegrees{
   margin-bottom: 21px;
   font-size: 0.63rem;
}

#beijing{
   margin-top: 15px;
   font-size: 1.45rem;
}

#beijingdegrees{
   margin-bottom: 77px;
   font-size: 1.75rem;
}

#sydney,
#albasrah,
#auckland{
   margin-top: 5px;
   font-size: 0.3rem;
}

#sydneydegrees,
#albasrahdegrees,
#aucklanddegrees{
   margin-bottom: 13px;
   font-size: 0.41rem;
}

.clock,
.degree {
   opacity: 0;
   transition: opacity 0.5s ease;
}

.city:hover .clock {
   display: flex;
   justify-content: center;
   align-items: center;
   opacity: 1;
   margin-top: -20%;
}

.city:hover .degree {
   opacity: 1;
}

.city:hover .cityname {
   opacity: 0;
}

.websitename {
   animation: slideInFromLeft 1s ease-in-out;
}

@keyframes slideInFromLeft {
   from {
      transform: translateX(-100%);
   }
   to {
      transform: translateX(0);
   }
}

#user-location {
   font-size: 20px;
   height: 20px;
   width: 100%;
   margin-top: 2%;
   border-radius: 25px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   color: rgb(15, 129, 182);
   font-family: "Inter", sans-serif;
}

.majorCities {
   display: flex;
   flex-wrap: wrap;
   margin-top: 3%;
   text-align: center;
   font-family: "Inter", sans-serif;
   transition: all 0.5s ease;
   margin-left: 100px;
   margin-right: 100px;
   border: solid red 0px;
   height: 50vh;
}

.city {
   background-color: rgb(15, 129, 182);
   border-radius: 50%;
   position: absolute;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   overflow: hidden;
   cursor: pointer;
}

.city:hover {
   background-color: rgb(13, 99, 139);
   border-radius: 50%;
   position: absolute;
   transform: scale(2);
   z-index: 1;
   transition: all 1s;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: white;
   overflow: hidden;
   cursor: pointer;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.newYork {
   width: 100px;
   height: 100px;
   font-size: 0.6rem;
}

.newYork:hover,
.delhi:hover,
.shanghai:hover,
.buenosaires:hover,
.lagos:hover,
.chicago:hover,
.bogota:hover,
.amsterdam:hover,
.dubai:hover {
   transform: scale(2.5);
}

.london:hover,
.hongkong:hover,
.mumbai:hover,
.losangeles:hover,
.sanfrancisco:hover{
   transform: scale(1.75);
}

.tokyo:hover,
.istanbul:hover,
.cairo:hover,
.osaka:hover,
.vienna:hover,
.toronto:hover,
.bangkok:hover {
   transform: scale(2);
}

.paris:hover,
.mexicocity:hover,
.moscow:hover,
.manila:hover,
.saopaulo:hover,
.kiev:hover,
.dhaka:hover,
.kolkata:hover,
.berlin:hover,
.hanoi:hover,
.zurich:hover {
   transform: scale(3.5);
}

.seoul:hover,
.rome:hover,
.suva:hover {
   transform: scale(1.25);
}

.beijing:hover {
   transform: scale(1.1);
}

.sydney:hover,
.albasrah:hover,
.auckland:hover {
   transform: scale(5);
}

.london {
   width: 150px;
   height: 150px;
   margin-left: 5.5%;
   font-size: 1em;
}

.tokyo {
   width: 125px;
   height: 125px;
   margin-top: 5.5%;
   font-size: 0.8rem;
}

.paris {
   width: 75px;
   height: 75px;
   margin-left: 6.75%;
   margin-top: 8.5%;
   font-size: 0.5rem;
}

.beijing {
   width: 225px;
   height: 225px;
   margin-left: 11.25%;
   margin-top: 5%;
   font-size: 1.6rem;
}

.sydney {
   width: 50px;
   height: 50px;
   margin-left: 14%;
   margin-top: 2.25%;
   font-size: 0.3rem;
}

.mexicocity {
   width: 75px;
   height: 75px;
   margin-top: 18%;
   font-size: 0.6rem;
}

.delhi {
   width: 100px;
   height: 100px;
   margin-top: 12.25%;
   font-size: 0.8rem;
}

.hongkong {
   width: 150px;
   height: 150px;
   margin-top: 13%;
   margin-left: 5.1%;
   font-size: 1.1rem;
}

.moscow {
   width: 75px;
   height: 75px;
   margin-left: 13%;
   margin-top: 17%;
   font-size: 0.6rem;
}

.shanghai {
   width: 100px;
   height: 100px;
   font-size: 0.8rem;
   margin-left: 17%;
}

.buenosaires {
   width: 100px;
   height: 100px;
   font-size: 0.8rem;
   margin-left: 17.5%;
   margin-top: 16.5%;
}

.mumbai {
   width: 150px;
   height: 150px;
   font-size: 0.9rem;
   margin-left: 22.25%;
   margin-top: 11.75%;
}

.seoul {
   width: 200px;
   height: 200px;
   font-size: 1rem;
   margin-left: 22.75%;
   margin-top: 1%;
}

.manila {
   width: 75px;
   height: 75px;
   font-size: 0.6rem;
   margin-left: 29.75%;
   margin-top: 10.75%;
}

.lagos {
   width: 100px;
   height: 100px;
   font-size: 0.8rem;
   margin-left: 30.5%;
   margin-top: 15%;
}

.istanbul {
   width: 125px;
   height: 125px;
   font-size: 0.9rem;
   margin-left: 36.25%;
   margin-top: 15.25%;
}

.losangeles {
   width: 150px;
   height: 150px;
   font-size: 1rem;
   margin-left: 34%;
   margin-top: 7%;
}

.saopaulo {
   width: 75px;
   height: 75px;
   font-size: 0.6rem;
   margin-left: 33.5%;
   margin-top: 3.25%;
}

.albasrah {
   width: 50px;
   height: 50px;
   font-size: 0.4rem;
   margin-left: 32.25%;
   margin-top: 1%;
}

.chicago {
   width: 100px;
   height: 100px;
   font-size: 0.8rem;
   margin-left: 41.5%;
   margin-top: 11.5%;
}

.kiev {
   width: 75px;
   height: 75px;
   font-size: 0.6rem;
   margin-left: 42%;
   margin-top: 7.25%;
}

.rome {
   width: 200px;
   height: 200px;
   font-size: 1.1rem;
   margin-left: 46.5%;
   margin-top: 5.5%;
}

.cairo {
   width: 125px;
   height: 125px;
   font-size: 0.9rem;
   margin-left: 38%;
   margin-top: 0.75%;
}

.dhaka {
   width: 75px;
   height: 75px;
   font-size: 0.5rem;
   margin-left: 44.5%;
   margin-top: 3.5%;
}

.osaka{
   width: 125px;
   height: 125px;
   font-size: 0.9rem;
   margin-left: 45%;
   margin-top: 15.5%;
}

.kolkata{
   width: 75px;
   height: 75px;
   font-size: 0.5rem;
   margin-left: 52%;
   margin-top: 16%;
}

.bogota{
   width: 100px;
   height: 100px;
   font-size: 0.8rem;
   margin-left: 56%;
   margin-top: 13%;
}

.amsterdam{
   width: 100px;
   height: 100px;
   font-size: 0.6rem;
   margin-left: 48%;
   margin-top: 0%;
}

.berlin{
   width: 75px;
   height: 75px;
   margin-left: 55.5%;
   margin-top: 18.5%;
   font-size: 0.6rem;
}

.vienna{
   width: 125px;
   height: 125px;
   margin-top: 6.5%;
   margin-left: 57.5%;
   font-size: 0.8rem;
}

.sanfrancisco{
   width: 150px;
   height: 150px;
   font-size: 1rem;
   margin-left: 61.85%;
   margin-top: 11.85%;
}

.toronto{
   width: 125px;
   height: 125px;
   margin-top: 0.15%;
   margin-left: 53.5%;
   font-size: 0.8rem;
}

.hanoi{
   width: 75px;
   height: 75px;
   font-size: 0.6rem;
   margin-left: 59.75%;
   margin-top: 18.5%;
}

.suva{
   width: 200px;
   height: 200px;
   font-size: 1.1rem;
   margin-left: 64.2%;
   margin-top: 1.6%;
}

.bangkok{
   width: 125px;
   height: 125px;
   margin-top: 12%;
   margin-left: 70.25%;
   font-size: 0.8rem;
}

.zurich{
   width: 75px;
   height: 75px;
   margin-left: 60.25%;
   margin-top: 2.5%;
   font-size: 0.3rem;
}

.dubai{
   width: 100px;
   height: 100px;
   font-size: 0.6rem;
   margin-left: 74.5%;
   margin-top: 7.5%;
}

.auckland{
   width: 50px;
   height: 50px;
   margin-left: 63.4%;
   margin-top: 0.5%;
   font-size: 0.3rem;
}

.expanded {
   height: 300px;
   font-size: 40px;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
   transition: box-shadow 0.3s ease;
}

.search {
   width: 100%;
   display: flex;
   margin-top: -15px;
}

.searchTerm {
   width: 100%;
   border: 3px solid rgb(15, 129, 182);
   border-right: none;
   padding: 5px;
   height: 20px;
   border-radius: 5px 0 0 5px;
   outline: none;
   color: #000000;
}

.searchTerm:focus {
   color: #000000;
}

.searchButton {
   width: 40px;
   height: 36px;
   border: 1px solid rgb(15, 129, 182);
   background: rgb(15, 129, 182);
   text-align: center;
   color: #fff;
   border-radius: 0 5px 5px 0;
   cursor: pointer;
   font-size: 20px;
}

.wrap {
   width: 325px;
   margin-left: 40px;
}

.highlighted {
   background-color: rgb(7, 119, 170);
   transform: scale(2);
   transition: transform 0.3s ease;
   box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
      rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
      rgba(0, 0, 0, 0.09) 0px 32px 16px;
      z-index: 1;
}

.highlighted .degree,
.highlighted .clock {
   opacity: 1;
}

.highlighted .clock {
   margin-top: -10%;
}

.highlighted .cityname {
   opacity: 0;
}

.error-message {
   position: absolute;
   margin-top: 3.5%; /* Adjust the vertical distance from the user location date */
   padding: 8px 12px;
   background-color: #f44336;
   color: #fff;
   border-radius: 4px;
   font-size: 14px;
   display: none;
   font-family: "Inter", sans-serif;
}

.footer {
   margin-top: 75px;
   text-align: center;
   font-family: "Inter", sans-serif;
}

@media (min-width: 299px) and (max-width: 500px) {
   .majorCities,
   .city {
      transform: scale(.85);
   }
}